:root {
  --main-color-primary: #e8890c;
}

body {
  font-family: "Lato", sans-serif;
}

.welcome-text {
  color: var(--main-color-primary);
  font-weight: bold;
  margin-bottom: 2px;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(../img/landing.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-text {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.logo {
  width: 120px;
  margin: 0 auto;
}

.login-field {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  right: 0;
  left: 0;
  top: 10%;
}

.login-info {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.btn-primary {
  background-color: var(--main-color-primary);
  background-color: #e8890c;
  border: transparent;
}

.btn-primary:hover {
  background-color: grey;
  color: black;
  border: transparent;
}

.btn-primary:active {
  background-color: grey !important;
  color: black;
  border: transparent;
}

a {
  color: var(--main-color-primary);
  color: #e8890c;
}

input:focus {
  border-color: #e8890c !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}

.login-link {
  color: white;
  text-align: center;
}

.login-link:nth-child(1) {
  margin-bottom: 15px;
}

/* .login-form{
    border-radius: 5px;
    background-color: #e8890c;
} */
@media (max-width: 500px) {
  .login-field {
    top: 10%;
  }
}

/*# sourceMappingURL=cforgotpassword.css.map */
