.flex {
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  background: rgba(232, 137, 12, 0.4);
}
.flex .side-nav {
  flex: 1;
  height: 100vh;
  background-color: white;
}
.flex .content {
  flex: 6;
  padding: 0px 10px;
}

.main-content {
  min-height: 100vh;
}

.logo {
  width: 120px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}

.navbar {
  background: white;
  margin-bottom: 10px;
}
.navbar i {
  color: #e8890c;
}

.nav-list ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 20px;
  color: black;
}
.nav-list li {
  padding: 10px;
  margin-bottom: 5px;
}
.nav-list li.active {
  background-color: #e8890c;
  color: white;
  border-right: 2px solid black;
}

.collapse {
  justify-content: flex-end;
}

.content-body {
  background-color: white;
  min-height: 98vh;
}

/*# sourceMappingURL=dashboard.css.map */
