:root {
  --main-color-primary: #e8890c;
}

header {
  background-image: url(../img/homepage.jpg);
  height: 600px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: color-dodge;
  position: relative;
  margin-bottom: 50px;
}

.logo {
  width: 100px;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}
nav ul li {
  margin: 0px 10px;
}
nav ul li:nth-child(1) {
  margin-left: 0px;
}
nav ul li:nth-last-child(1) {
  margin-right: 0px;
}
nav ul:nth-child(1) {
  margin-right: 40px;
}
nav ul:nth-last-child(1) {
  margin-left: 40px;
}

.banner-content {
  text-align: center;
  color: white;
}
.banner-content h1 {
  color: var(--main-color-primary);
  font-size: 150px;
  margin-bottom: 5px;
}
.banner-content p {
  font-weight: bold;
}

.arrow_down {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 12px;
  right: 0;
  left: 0;
  animation-name: arrow-bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.menu-details {
  box-sizing: border-box;
  width: 100%;
  color: var(--main-color-primary);
  padding: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu-details p {
  margin-bottom: 5px;
  margin-top: 2px;
  font-weight: bold;
}
.menu-details button {
  line-height: 1;
  font-size: 14px;
}

.meal-flex {
  flex-flow: nowrap;
  overflow-x: auto;
  flex-direction: row;
}

.meal-flex::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.sub-head h2 {
  font-weight: bold;
  color: var(--main-color-primary);
  margin: 0;
}

.container {
  padding: 0px 50px;
}

.sub-heading-img {
  margin-top: -40px;
}

.flex {
  display: flex;
}

.meal-card {
  width: 220px;
  height: 200px;
  border-radius: 3px;
  margin-right: 40px;
  padding: 10px;
  position: relative;
  background-image: url(../img/menu1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color-burn;
  background-position: center;
  display: flex;
  flex: 0 0 auto;
}

.custom-banner {
  margin-top: 80px;
  margin-bottom: 75px;
  height: 300px;
  background-image: url(../img/custom.jpg);
  background-size: cover;
  background-position: right;
  padding: 15px;
  display: flex;
  align-items: center;
}
.custom-banner h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}

.chef-text {
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  margin-top: -35px;
}

.chef-flex {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
}
.chef-flex .chef-info {
  width: 250px;
  text-align: center;
  margin: 0px 20px;
}
.chef-flex .chef-info .chef-img {
  width: 100%;
  height: 150px;
}
.chef-flex .chef-info .chef-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chef-flex .chef-info p {
  font-size: 13px;
  text-align: center;
}

.chef-details h3 {
  color: #e8890c;
  color: var(--main-color-primary);
}

@media (max-width: 568px) {
  .container {
    padding: 0px 15px;
  }

  .meal-card {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding: 0px 20px;
  }
}
@media (min-width: 767.98px) {
  .chef-text {
    width: 700px;
  }
}
@keyframes arrow-bounce {
  0% {
    bottom: 12px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 12px;
  }
}

/*# sourceMappingURL=homepage.css.map */
