:root{
    --main-color-primary: #e8890c;
}
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }
  
.btn-primary{
    background-color: var(--main-color-primary);
    background-color: #e8890c;
    padding: .65rem 0;
    color: white;
}
.btn-block{
    width: 100%;
}
.btn-primary:hover{
    color: black;
    border: transparent;
}
.btn-primary:active{
    color: black;
    border: transparent;
}
.label{
    display: inline-block;
}
.mb-4{
    margin-bottom: 10px;
}
.btn-primary:focus{
    outline: transparent;
}
.btn{
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    border: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.form-control{
    display: block;
    width: 100%;
    margin-top: 4px;
    height: calc(2.45rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-clip: padding-box;
    line-height: 1.5;
    font-size: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}   
.form-group{
    margin-bottom: 1rem;
}
input{
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.img-fluid{
    width: 100%;
}

.sub-head h2{
    font-weight: bold;
    color: var(--main-color-primary);
    margin: 0;
    
}
.sub-heading-img{
    margin-top: -40px;
}
.row{
    display: flex;
}
/* @media (max-width: 575.98px) {
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.3%
    }
    .col-6{
        width: 50%
    }
    .col-12{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .col-sm-3{
        width: 25%
    }
    .col-sm-4{
        width: 33.3%
    }
    .col-sm-6{
        width: 50%
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-3{
        width: 25%
    }
    .col-md-4{
        width: 33.3%
    }
    .col-sm-6{
        width: 50%
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.3%
    }
    .col-lg-6{
        width: 50%
    }
}
@media (min-width: 1200px){
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.3%
    }
    .col-xl-6{
        width: 50%
    }
} */
